body
{
    text-align: center;
    font-family: 'Cambria';
    color: cornflowerblue;
}

#container
{
    width: 80%;
    text-align: justify;
    border: 1px solid black;
    padding: 1em;
    margin: 0 auto;
}

#container h1
{
    font-size: 20 px;
    text-align: center;
}